.container {
  width: 100%;
  padding: 0 var(--padding-global);
  margin: 0 auto;
}
.introduction {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "texto imagen";
  .container-texto {
    grid-area: texto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .texto {
      max-width: 340px;
    }
  }
  img {
    min-width: 140px;
    max-width: 300px;
    grid-area: imagen;
    margin: 0 auto;
  }
  @media screen and (max-width: 640px){
    & {
      grid-template-rows: 50% 50%;
      grid-template-columns: 100%;
      grid-template-areas: "imagen"
                            "texto";
      grid-gap: 1rem;
      .container-texto {
        justify-content: center;
      }
    }
  }
  @media screen and (min-width: 1020px){
    & {
      grid-gap: 2rem;
      img {
        margin: 0;
      }
    }
  }
}

.grid_prop {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 1rem;
  .item {
    color: var(--white-color);
    .title {
      display: flex;
      // justify-content: center;
      align-items: center;
      i {
        color: var(--dark-blue-color);
        margin-right: 1rem;
        font-size: 1.5rem;
      }
    }
    p {
      max-width: 340px;
      font-size: .875rem;
      margin-top: 0;
    }
  }
  @media screen and (max-width: 640px){
    & {
      grid-template-columns: repeat(1, auto);
      grid-gap: 1rem;
      .item {
        .title {
          justify-content: center;
          margin-left: -2rem;
        }
        p {
          text-align: center;
          margin: 0 auto;
        }
      }
    }
  }
}

.footer {
  width: 100%;
  height: 240px;
  display: flex;
  // flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  p {
    color: var(--divider-color);
    font-size: .75rem;
  }
}

.container_form {
  width: 240px;
  margin: 0 auto;
  h3 {
    text-align: center;
    color: var(--white-color);
    text-transform: uppercase;
  }
}

.grid_eventos {
  width: 100%;
  height: calc(100vh - 70px);
  display: grid;
  grid-template-columns: 320px calc(100% - 320px);
  grid-template-rows: 50px 1fr 1fr;
  grid-template-areas: "bandeja titulo"
                       "bandeja descripcion"
                       "bandeja recordatorios";
  .container_eventos {
    grid-area: bandeja;
    padding: 0 1rem;
    border-right: 1px solid var(--divider-color);
    .create_modulo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: var(--white-color);
      button {
        border: 0;
        outline: 0;
        padding: 0;
        background: transparent;
        font-size: 1.2rem;
        color: var(--dark-blue-color);
        cursor: pointer;
        height: 20px;
      }
    }
  }

  .container_titulo {
    grid-area: titulo;
    color: var(--white-color);
    font-size: 1.1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    p {
      margin: 0;
    }
  }

  .container_desc {
    grid-area: descripcion;
    border-bottom: 1px solid var(--divider-color);
    color: var(--white-color);
    padding: 1rem;
    // background: green;
  }

  .container_record {
    grid-area: recordatorios;
    padding: 1rem;
    h4 {
      margin: 0;
      color: var(--white-color);
    }
    .table_record {
      max-height: 150px;
      overflow-y: auto;
      &::-webkit-scrollbar {
        width: .5rem;
        margin-left: .5rem;
      }

      &::-webkit-scrollbar-thumb {
        background-color: var(--divider-color);
        border-radius: 20px;
      }
      .item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--white-color);
        padding-right: .5rem;
        p {
          font-size: .75rem;
        }
        i {
          cursor: pointer;
          margin-left: 1rem;
          color: var(--divider-color);
          font-size: 1.3rem;
        }
        border-bottom: 1px solid var(--divider-color);
      }
    }
  }
  @media screen and (max-width: 840px) {
    grid-template-columns: 100% 100%;
    overflow-x: auto;
    &::-webkit-scrollbar {
      height: .5rem;
      margin-left: .5rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--divider-color);
      border-radius: 20px;
    }
  }
}
