.field {
  position: relative;
  width: 240px;
  .label {
    position: absolute;
    top: 1.0625rem;
    left: 0.8125rem;
    
    font-weight: 500;
    font-size: 1rem;
    color: var(--divider-color);
    z-index: -1;
    transition: 0.2s;
  }
  input {
    outline: 0;
    background: transparent;
    border: 1px solid var(--divider-color);
    border-radius: 4px;
    width: 15rem;
    height: 3.5rem;
    padding: 0 .75rem;

    //Font
    font-family: 'Open Sans';
    font-size: 1rem;
    font-weight: 500;
    color: var(--white-color);
  }
  
  .error_message {
    display: none;
  }
}