header {
  width: 100%;
  height: 69px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0 var(--padding-navbar);
  // Theme
  background-color: var(--dark-color);
  border-bottom: 1px solid var(--divider-color);
  a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--white-color);
    &.item-nav {
      font-size: .75rem;
      margin-left: var(--ml-item-nav);
    }
  }
  @media screen and (max-width: 480px){
    & {
      flex-direction: column;
      justify-content: space-around;
    }
    nav {
      width: 100%;
      display: flex;
      justify-content: space-around;
    }
  }
}