.margin_top {
  margin-top: 1rem;
}

.margin_top_expanded {
  margin-top: var(--mt-introduction);
}

.margin_top_large {
  margin-top: 9rem;
}

.flex_end {
  display: flex;
  justify-content: flex-end;
}